{% extends 'base.html.twig' %}

{% block title %}
	INICIO · XOKAS Y CÍA
{% endblock %}

{# LANDING PAGE #}

{% block body %}

	<div
		class="row mt-5">
		<!-- SLIDER -->
		{% include "components/carousel-eventos.html.twig" %}
		<!-- /SLIDER -->
	</div>

	<div
		class="row mt-3">
		<!-- RESERVA -->
		{% include "components/section-reserva.html.twig" %}
		<!-- /RESERVA -->
	</div>

	<div
		class="row">
		<!-- BANNER -->
		{% include "components/banner.html.twig" %}
		<!-- /BANNER -->
	</div>

	<!-- Servicios -->
{#
	<div class="services section" id="services">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 offset-lg-6">
					<div class="row">
						<div class="col-lg-12">
							<div class="section-heading">
								<h2>Proveemos
									<em>distintos servicios</em>
									&amp;
									<span>Features</span>
									For Your Agency
								</h2>
								<div class="line-dec"></div>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed doers eiusmod.</p>
							</div>
						</div>
						<div class="col-lg-6 col-sm-6">
							<div class="service-item">
								<div class="icon">
									<img src="assets/images/services-01.jpg" alt="discover SEO" class="templatemo-feature">
								</div>
								<h4>Discover More on Latest SEO Trends</h4>
							</div>
						</div>
						<div class="col-lg-6 col-sm-6">
							<div class="service-item">
								<div class="icon">
									<img src="assets/images/services-02.jpg" alt="data analysis" class="templatemo-feature">
								</div>
								<h4>Real-Time Big Data Analysis</h4>
							</div>
						</div>
						<div class="col-lg-6 col-sm-6">
							<div class="service-item">
								<div class="icon">
									<img src="assets/images/services-03.jpg" alt="precise data" class="templatemo-feature">
								</div>
								<h4>Precise Data Analysis &amp; Prediction</h4>
							</div>
						</div>
						<div class="col-lg-6 col-sm-6">
							<div class="service-item">
								<div class="icon">
									<img src="assets/images/services-04.jpg" alt="SEO marketing" class="templatemo-feature">
								</div>
								<h4>SEO Marketing &amp; Social Media</h4>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div> 
	<!-- /Servicios -->
	#}

	<!-- INFO -->
	{# <div class="infos section" id="infos">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="main-content">
							<div class="row">
								<div class="col-lg-6">
									<div class="left-image">
										<img src="images/iloyuan.jpg" alt="">
									</div>
								</div>
								<div class="col-lg-6">
									<div class="section-heading">
										<h2>More
											<em>About Us</em>
											&amp; What
											<span>We Offer</span>
										</h2>
										<div class="line-dec"></div>
										<p>You are free to use this template for any purpose. You are not allowed to redistribute the
											                    downloadable ZIP file of Tale SEO Template on any other template website. Please contact us. Thank
											                    you.</p>
									</div>
									<div class="skills">
										<div class="skill-slide marketing">
											<div class="fill"></div>
											<h6>Marketing</h6>
											<span>90%</span>
										</div>
										<div class="skill-slide digital">
											<div class="fill"></div>
											<h6>Ditigal Media</h6>
											<span>80%</span>
										</div>
										<div class="skill-slide media">
											<div class="fill"></div>
											<h6>Social Media Managing</h6>
											<span>95%</span>
										</div>
									</div>
									<p class="more-info">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed doers eiusmod tempor
										                  incididunt ut labore et dolore dolor dolor sit amet, consectetur adipiscing elit, sed doers eiusmod.
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div> #}
	<!-- /INFO -->

	<!-- MAPA -->
		{% include "components/mapa.html.twig" %}
	<!-- /MAPA -->

{% endblock %}
