{% extends 'base.html.twig' %}

{% block title %}Identifícate!
{% endblock %}


{% block body %}
	{# ESTILOS #}
	<style>

		form {
			background-color: rgba(33, 37, 41, 0.01);
			padding: 25px 5rem;
			border-radius: 14px;
			min-height: 50vh;
		}

		input {
			margin: 15px;
		}
	</style>

	{# Si está logeado #}
	{% if is_granted('ROLE_USER') %}
		<a id="fuera" href="{{ url('app_logout') }}"></a>
		<script>
			$('#fuera').click();
		</script>
	{# Si no lo está #}
	{% else %}
		{% include "components/login-form.html.twig" %}
	{% endif %}


{% endblock %}
{% block footer %}{% endblock %}