{% extends "base.html.twig" %}

{% block body %}
<article>

    <div>
        <table id="dataTable" class="display text-center" style="width:100%">
            <thead>
                <tr>
                    <th>CABECERA</th>
                    <th>CABECERA</th>
                    <th>CABECERA</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>CELDA</td>
                    <td>CELDA</td>
                    <td>CELDA</td>
                </tr>
            </tbody>
        </table>
    </div>

</article>
<script src="{{asset('js/utils/dataTable.js')}}"></script>
{% endblock %}