<div class="main-banner" id="top">
	<div class="container">
		<div class="row">
			<div class="col-lg-7">
				<div class="caption header-text">
					<h6>En Xokas & Co.</h6>
					<div class="line-dec"></div>
					<h4>Cuidamos
						<em>de nuestros clientes</em>
						siempre que necesitan
						<span>nuestra ayuda</span>
					</h4>
					<p>He cambiado los colores principales y secundarios de esta página
						<a href="index.html">Inicio</a>,
						<a href="about.html">About</a>, and
						<a href="faqs.html">FAQ</a>.</p>
					<div class="main-button scroll-to-section">
						<a href="#services">Descubre más</a>
					</div>
					<span>or</span>
					<div class="second-button">
						<a href="faqs.html">Revisa los FAQs</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
