<div class="main-banner" id="top">
	<div class="container">
		<div class="row">
			<div class="col-lg-7">
				<div class="caption header-text">
					<h6>En Xokas & Co.</h6>
					<div class="line-dec"></div>
					<h4>Cuidamos
						<em>de nuestros clientes</em>
						siempre que necesitan
						<span>nuestra ayuda</span>
					</h4>
						
					<div class="main-button scroll-to-section">
						<a href="{{ url('juegos') }}">Visita nuestro catálogo</a>
					</div>
					<span>o</span>
					<div class="second-button">
						<a href="{{ url('eventos') }}">Asiste a nuestros eventos</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
