<section class="c-container__carousel">

	<div class="owl-features owl-carousel">

		<div class="btn" id="newReserva" data="">
			<div class="item">
				<img src="assets/images/add.png" alt="">
				<div class="down-content">
					<h4>Hacer una reserva</h4>
					<i class="fa fa-link"></i>
				</div>
			</div>
		</div>

		{% for reserva in reservas %}
			<div class="btn border-2" style="background-color:#A1DB26" id="ver_reserva_{{reserva.id}}">
				<div class="item c-tarjeta__reserva">
					<img src="./images/uploads/{{reserva.img}}" alt="">
					<div class="down-content">
						<h4 class="text-light">{{reserva.title}}</h4>
						<i class="fa-regular fa-eye"></i>
					</div>
				</div>
			</div>
		{% endfor %}

	</div>

	<script src="{{ asset('js/api/put.js') }}"></script>

</section>
