<!-- FOOTER -->
<footer>
	<div class="container">
		<div class="col-lg-12">
			<p>Copyright © 2036
				<a href="{{ url('home') }}">XOKAS & Co.</a>. Todos los derechos reservados.
				<p>Web desarrollada por Víctor J. Esquinas García en Marzo de 2023</p>
				<br>Gracias a:
				<a href="https://templatemo.com" target="_blank">TemplateMo</a>
			</p>
		</div>
	</div>
</footer>
