<!-- ***** Pre-Header Area Start ***** -->
<div class="pre-header">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-sm-9">
				<div class="left-info">
					<ul>
						<li><a href="tel:640631721"><i class="fa fa-phone"></i>+34 640 63 17 21</a></li>
						<li><a href="mailto:viktoresquinas@gmail.com"><i class="fa fa-envelope"></i>viktoresquinas@gmail.com</a></li>
						<li><a target="_blank" href="https://goo.gl/maps/RAYkkER7KfZdjeQ1A"><i class="fa fa-map-marker"></i>Jaén, Jaén</a></li>
					</ul>
				</div>
			</div>
			<div class="col-lg-4 col-sm-3">
				<div class="social-icons">
					<ul>
						<li><a href="https://m.facebook.com/profile.php?id=111326685558851"><i class="fab fa-facebook"></i></a></li>
						<li><a href="#"><i class="fab fa-twitter"></i></a></li>
						<li><a href="https://www.linkedin.com/in/victor-esquinas-garc%C3%ADa-4ab919240/"><i class="fab fa-linkedin"></i></a></li>
						<li><a href="#"><i class="fab fa-google-plus"></i></a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- ***** Pre-Header Area End ***** -->
