<section class="m-5">
	<article id="video_promocional" class="m-3">

		<p class="display-5 m-2">Información ¿Cómo funciona XOKAS & Co.?</p>


		<video controls>
			<source src="{{asset('assets/video/2023-03-01 13-00-43.mkv')}}">
		</video>


	</article>
</section>

<style>
	#video_promocional {
		display: flex;
		justify-content: center;
		margin-top: 3.5rem;
		margin-bottom: 0 !important;

		border-radius: 23px;
		padding: 30px 20px;
		background-color: #fff;
		box-shadow: 0 0 10px rgba(0, 0, 0, 0.10);
	}
	#video_promocional > video {
		min-width: 300px;
		max-width: 450px;

	}
	#video_promocional>video:hover {
		border-radius: 25px;
	}
</style>
