.c-tarjeta {

    &__reserva {
        max-height: 300px;
        /*width: 500px;*/
        margin: auto;

        &:hover {
            transform: 0.5s erase;
            opacity: .9;
        }
    }
}